@model PracticaMVC.Models.equipos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>equipos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_equipo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_equipo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anio_compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anio_compra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vida_util)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vida_util)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_equipo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado_equipo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_equipos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
