@model IEnumerable<PracticaMVC.Models.estados_reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Estado de Reservas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.estado_res_id">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.estado_res_id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.estado_res_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
