@model PracticaMVC.Models.reservas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tiempo_reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tiempo_reserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_reserva_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado_reserva_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_retorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_retorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora_retorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora_retorno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.reserva_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
