@model IEnumerable<PracticaMVC.Models.reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.equipo_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_salida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_salida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tiempo_reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado_reserva_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_retorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_retorno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.equipo_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tiempo_reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado_reserva_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_retorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_retorno)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.reserva_id">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.reserva_id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.reserva_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
